/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --zm-primary: #000000;
    --zm-btn: #4a4a4a;
    --zm-nav-footer: #222222;
    --zm-logout: #ff0000;
    --zm-share-icon: #4bc800;
    --zm-text: white;
}

body {
    color: var(--zm-text);
    background-color: var(--zm-primary);
}

.container {
    margin: 0 2.5rem;
}

/* debug */


/* #region utilities */

.d_flex {
    display: flex;
}

.d-wrap {
    flex-wrap: wrap;
}

.justify_end {
    justify-content: end;
}

.justify_start {
    justify-content: start;
}

.justify_center {
    justify-content: center;
}

.al_items_center{
    align-items: center;
}

.flow_scroll{
    overflow: scroll;
}

/* #endregion utilities */

/* #region header */

#site_header {
    background-color: black;
    height: 70px;
    position: sticky;
    top: 0;
}

.speaker_view {
    background-color: var(--zm-btn);
}

/* #endregion header */

/* #region main */

#site_main {
}

.row{
    width: 90%;
    margin: auto;
}

.col {
    border: 1px dashed black;
    height: 100px;
    width: calc(100% /14 *2);
}

/* #endregion main */

/* #region footer */

#site_footer {
    background-color: gray;
    position: sticky;
    bottom: 0;
    top: 0;
}

.col_command{
    text-align: center;
    width: 15%;
    padding: 1rem;
    gap: 1rem;
}

a{
    color: var(--zm-text);
    text-decoration: none;
}

.icon{
    font-size: 1.5rem;
}

.txt_footer, .up_option{
    font-size: 0.5rem;
}

/* #endregion footer */