/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --zm-primary: #000000;
    --zm-btn: #4a4a4a;
    --zm-nav-footer: #222222;
    --zm-logout: #ff0000;
    --zm-share-icon: #4bc800;
    --zm-text: white;
}

body{
    color: var(--zm-text);
}

.container{
    max-width: 1170px;
    height: 400px;
    margin: auto;
    background-color: aquamarine;
}

/* debug */


.debug{
    border: 1px dashed red;
}

/* #region utilities */

.d_flex{
    display: flex;
}

.d-wrap{
    flex-wrap: wrap;
}

.justify_end{
    justify-content: end;
}

.justify_start{
    justify-content: start;
}

.justify_center{
    justify-content: center;
}

/* #endregion utilities */

/* #region header */

#site_header{
    background-color: black;
    height: 70px;
}

.speaker_view{
    background-color: var(--zm-btn);
}

/* #endregion header */

/* #region main */

#site_main{
    background-color: goldenrod;
    height: 500px;
}

.col{
    background-color: chocolate;
    border: 1px dashed black;
    height: 100px;
    width: calc(100% /14 *2);
}

/* #endregion main */

/* #region footer */

#site_footer{
    height: 70px;
    background-color: gray;
}

/* #endregion footer */





